body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 36px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 64px;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    width: 960px;
    padding: 16px;
}

.hero-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.hero-left-content {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: grey;
    align-self: stretch;
}

.hero-right-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 12px;
    width: 120px;
    padding: 8px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 32px;
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 8px;
}

.card-image {
    height: 150px;
    border-width: medium;
    border-radius: 12px;
    border-style: solid;
    border-color: #3882f6;
    
}

.card-text {
    text-align: center;
}

.quote-section {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px;
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
}

.quote-content {
    width: 900px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    padding-right: 64px;
}

.call-to-action-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 64px;
}

.call-container {
    display: flex;
    justify-items: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 1000px;
    padding: 24px;
    color: white;
}

.call-left {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding-left: 225px;
}

.call-line1 {
    font-weight: bold;
}

.sign-up {
    border-color: white;
}

.call-right {
    flex: 1;
}